/*  1. Reset & Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333333;
}

/* shared class  */
.main-btn {
  font-weight: 600;
  color: white;
  background-color: #00c7b4;
  border-radius: 6px;
  padding: 10px 30px;
  outline: none;
  border: none;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 48px;
  color: #111827;
  line-height: 130%;
}
/* navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  background-color: #ffffff;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-items {
  gap: 10px;
  padding: 8px;
  display: flex;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.nav-btn {
  padding: 8px;
  color: #00c7b4;
  border: 1px solid #00c7b4;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
.banner-section {
  padding: 80px 120px;
  background-color: #e5fffd;
}

.banner-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.banner-container {
  display: flex;
  gap: 48px;
  align-items: center;
  max-width: 1400px;
}

.content-box {
  flex: 1;
}

.content-box h1 {
  font-size: 56px;
  font-weight: 900;
  color: #111827;
  margin-bottom: 20px;
  line-height: 130%;
}
.hignlight {
  color: #00c7b4;
}
.content-box p {
  font-size: 16px;
  color: #374151;
  margin-bottom: 30px;
  line-height: 120%;
}

.image-box {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.grid-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

.banner-para {
  margin-top: 48px;
  font-size: 24px;
  color: #374151;
  font-weight: 500;
  text-align: center;
  line-height: 120%;
}

/* partner section :start */

.partner-section {
  display: flex;
  gap: 48px;
  padding: 80px 120px;
  justify-content: space-between;
  align-items: center;
}
.partner-content h2 {
  font-size: 32px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 20px;
}
.border {
  border: 3px solid #00c7b4;
  width: 57px;
  margin: 16px 0;
}

.partner-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.list {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #374151;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c7b4;
  padding: 24px 120px;
  width: 100%;
}
.logo-items {
  display: flex;
  align-items: center;
  gap: 48px;
}
.discover-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.discover-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.discover-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 762px;
  text-align: center;
  margin: 80px 339px;
}

.discover-card {
  margin: 0px 120px 80px 120px;
}
.discover-card-container {
  display: flex;
  gap: 19px;
  align-items: center;
  justify-content: center;
}

.card-item {
  margin-bottom: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.card-img {
  padding: 20px;
  z-index: 1;
}
.card-content {
  background-color: #f4f4f5;
  position: absolute;
  top: 240px;
  padding: 20px;
  border-radius: 10px;
}
.card-content h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 10px;
}
.card-content p {
  line-height: 120%;
  font-size: 16px;
  color: #374151;
}
.discover-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.transport-section {
  padding: 80px 120px;
}
.transport-car {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 520px;
  margin-bottom: 20px;
  overflow: hidden;
}
.transport-car::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../assets/images/cardt.jpg);
  background-size: cover;
  background-position: center;
  transform: rotateY(3.142rad);
  z-index: -1;
  /* opacity: 0.5 ; */
  filter: brightness(50%);
  border-radius: 10px;
}
.transport-car h2 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  width: 800px;
  line-height: 130%;
  margin-bottom: 24px;
}
.transport-car p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 800px;
}
.transport-details {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.transport-details h2 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  width: 800px;
  line-height: 130%;
  margin-top: 24px;
  color: #111827;
}
.partner-section {
  padding: 0px 120px;
}
.partner-container {
  display: flex;
  gap: 48px;
  justify-content: space-between;
  align-items: center;
}
.partner-content {
  flex: 1;
}
.partner-content h2 {
  font-size: 56px;
  font-weight: 700;
  color: #111827;
  line-height: 130%;
  margin-bottom: 8px;
}
.partner-content p {
  font-size: 16px;
  color: #374151;
  line-height: 120%;
  margin-bottom: 24px;
}

.gallery-section {
  padding: 80px 120px;
}
.gallery-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.gallery-item img {
  width: 100%;
 
  object-fit: cover;
  border-radius: 12px;
  display: block;
}
